<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">Eat da Burger!</h1>
        <p class="lead">This is you personal tracker of burgers you have loved or WANT to eat</p>
        <hr class="my-4">
        <p>Click the button below to add a burger or click any of the burgers on the list to cross off what you have
            devoured.</p>
        <p>Or click a burger again if you want to try to eat it again</p>
        <form id="form" action="/api/burgers" method="POST">
            <input type="text" class="form-control" placeholder="New Burger" name="name" id="cb">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="devoured" id="#cbd" value="0" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Not Devoured...yet
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="devoured" id="#cbd" value="1">
                <label class="form-check-label" for="exampleRadios1">
                    Devoured
                </label>
            </div>
            <button class="btn btn-outline-primary" type="submit">Add Burger</button>

        </form>
    </div>
</div>
<div class="container">
    <div class="list-group">
        {{#each burgers}}
        <button type="submit" class="eat" action="/api/burgers/:id" method="PUT" data-id="{{this.id}}">
            <span name="name" {{#if devoured}} style="text-decoration: line-through" {{/if}}>
                {{this.burger_name}}
            </span>
        </button>
        {{/each}}
    </div>
</div>